<div class="form-container">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username" id="username">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>email</mat-label>
            <input matInput type="text" formControlName="email" id="email">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" [type]="hide() ? 'password' : 'text'" />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
              type="button">
              <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>
        <br>
        <button mat-flat-button type="submit">Submit</button>
    </form>
</div>